body{margin: auto;
    background-image:url("https://img.freepik.com/free-photo/view-tiger-animal-wild_23-2150374850.jpg");
    background-size:cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    color: white;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.App{
    text-align: center;}

    input[type=email], input[type=password] {
        width: 50%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 30rem;
        background: #f1f1f1;
      }
input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 30px;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;

    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
   
  }
  
  .footer-content {
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    margin: 0;
    
  }
  
  .footer-links ul {
    list-style:none;
    display: flex;
    flex-direction: row;
    padding: 0;
    text-align: center;
    justify-content: center;

  }
  
  .footer-links ul li {
    margin: 10px 0;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-social h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-social ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    left: 0;
    bottom: 0;
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
  

  